body {
    background-color: #9c835f;
    font-family: 'Open Sans';
}

.logo {
    position: absolute;
    width: 72px;
    height: 72px;
    left: 119px;
    /* top: 27px; */
}

h1 {
    display: inline;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #f9b23d;
    margin: 40px auto auto 218px;
    padding-top: 3vh;
}

.container {
    display: flexbox;
    margin: 10vh auto auto auto;
    width: 100%;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 36px;
    letter-spacing: 0.1em;
    font-weight: 700;
}

img {
    width: 128px;
    padding-top: 11px;
}

#versus {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 144px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #bd0000;
    margin: auto;
}

.reset {
    width: 77px;
}

.result {
    /* position: absolute; */
    background-color: #4c9654;
    transform: rotate(-30deg);
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 10px;
    height: 55px;
    padding: 10px 40px;
}

.greyBoxes {
    background-color: #c4c4c4;
    border-radius: 30px;
}